In [1]:
import requests
import pandas as pd

BASE_URL = "https://ghoapi.azureedge.net/api/"
INDICATOR = "MH_12"  # Mental health indicator

rows = []
skip = 0
page_size = 1000

while True:
    params = {"$top": page_size, "$skip": skip}
    response = requests.get(f"{BASE_URL}{INDICATOR}", params=params)
    data = response.json()
    records = data.get("value", [])

    if not records:
        break

    for item in records:
        if item.get("NumericValue") is not None:
            rows.append({
                "country_name": item.get("SpatialDim"),
                "year": int(item.get("TimeDim")),
                "mental_health_value": item.get("NumericValue"),
                "indicator_code": item.get("IndicatorCode")
            })
    skip += page_size

# Convert to DataFrame
who_df = pd.DataFrame(rows)

# Save raw data
who_df.to_json("data//raw//who_mental_health_raw.json", orient="records", indent=4)
wb_df_raw.to_csv("data//raw//world_bank_data_raw.csv", index=False)

print("WHO data fetched:", who_df.shape)

WHO data fetched: (12936, 4)

In [2]:
who_df

      country_name  year  mental_health_value indicator_code
0              LTU  2012            52.254544          MH_12
1              JOR  2010             1.670238          MH_12
2              SSD  2020             5.916572          MH_12
3              SYR  2001             1.809799          MH_12
4              ZWE  2021            25.423327          MH_12
...            ...   ...                  ...            ...
12931          CRI  2004             2.259396          MH_12
12932          BRN  2015             1.193121          MH_12
12933          KEN  2014             9.083175          MH_12
12934          COD  2013            23.642500          MH_12
12935          CRI  2002            12.039860          MH_12

[12936 rows x 4 columns]