In [35]:
import pandas as pd

who_df = pd.read_csv("data//raw//who_mental_health_raw.csv")
who_df

      country_name  year  mental_health_value indicator_code
0              LTU  2012            52.254544          MH_12
1              JOR  2010             1.670238          MH_12
2              SSD  2020             5.916572          MH_12
3              SYR  2001             1.809799          MH_12
4              ZWE  2021            25.423327          MH_12
...            ...   ...                  ...            ...
12931          CRI  2004             2.259396          MH_12
12932          BRN  2015             1.193121          MH_12
12933          KEN  2014             9.083175          MH_12
12934          COD  2013            23.642500          MH_12
12935          CRI  2002            12.039860          MH_12

[12936 rows x 4 columns]

In [34]:
print("who missing values", who_df.isna().sum()) # fining values

who missing values country_name           0
year                   0
mental_health_value    0
indicator_code         0
dtype: int64

In [36]:
who_df.to_csv("data//processed//who_mental_health_cleaned.csv", index=False)
# saving after pre proceesing

In [37]:
# Load raw data another dataaset 
wb_df = pd.read_csv("data//raw//world_bank_data_raw.csv")
wb_df

     country_name  year  GDP_per_capita  School_enrollment  Unemployment
0     Afghanistan  2000      174.930991                NaN         7.897
1     Afghanistan  2001      138.706822           14.04041         7.973
2     Afghanistan  2002      178.954088                NaN         7.867
3     Afghanistan  2003      198.871116           13.95953         7.844
4     Afghanistan  2004      221.763654           19.21438         7.794
...           ...   ...             ...                ...           ...
6296     Zimbabwe  2019     2184.329239                NaN         7.373
6297     Zimbabwe  2020     2059.674454                NaN         8.617
6298     Zimbabwe  2021     2613.605421                NaN         9.540
6299     Zimbabwe  2022     2536.400502                NaN        10.087
6300     Zimbabwe  2023     2195.224921                NaN         9.348

[6301 rows x 5 columns]

In [38]:

# WB raw data
print("WB missing values", wb_df.isna().sum())

WB missing values country_name            0
year                    0
GDP_per_capita        108
School_enrollment    1707
Unemployment          665
dtype: int64

In [39]:
# Fill missing values for each column
for col in ["GDP_per_capita", "School_enrollment", "Unemployment"]:
    wb_df[col] = wb_df[col].fillna(wb_df[col].mean())

In [42]:
wb_df.isna().sum()

country_name         0
year                 0
GDP_per_capita       0
School_enrollment    0
Unemployment         0
dtype: int64

In [45]:
# Save cleaned dataset
wb_df.to_csv("data//processed//world_bank_data_clean.csv", index=False)

In [46]:
print("World Bank data cleaned:", wb_df.shape)

World Bank data cleaned: (6301, 5)