In [1]:
import pandas as pd


final_df = pd.read_csv("data/WHO_WorldBank_merged.csv")
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806
...,...,...,...,...,...,...,...,...,...
5197,KAZ,2012,44.878845,MH_12,Kazakhstan,Kazakhstan,12018.796653,99.018019,5.290
5198,JOR,2017,0.881077,MH_12,Jordan,Jordan,4065.616287,88.875829,18.120
5199,POL,2010,15.545104,MH_12,French Polynesia,French Polynesia,22494.806706,79.720263,12.133
5200,UKR,2020,32.485972,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475
5201,KEN,2014,9.083175,MH_12,Kenya,Kenya,1482.815663,79.720263,2.767

In [2]:
# 1 Completeness
# # Completeness check

print(final_df.isna().sum())

country_name_x          0
year                    0
mental_health_value     0
indicator_code          0
country_name_matched    0
country_name_y          0
GDP_per_capita          0
School_enrollment       0
Unemployment            0
dtype: int64

In [16]:
# Consistency Are country names consistent across datasets
unmatched = final_df[final_df["country_name_matched"].isna()]
print(f"Number of WHO countries not matched: {len(unmatched)}")

Number of WHO countries not matched: 0

In [3]:
# Uniqueness

duplicates = final_df.duplicated(subset=["country_name_y", "year"])
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 3621

In [4]:
# Accuracy Check for unrealistic values Negative GDP or enrollment > 100%

print(final_df[final_df["GDP_per_capita"] < 0])
print(final_df[final_df["School_enrollment"] > 100])

Empty DataFrame
Columns: [country_name_x, year, mental_health_value, indicator_code, country_name_matched, country_name_y, GDP_per_capita, School_enrollment, Unemployment]
Index: []
     country_name_x  year  mental_health_value indicator_code  \
4               UGA  2000            24.813049          MH_12
5               AUS  2016            16.927219          MH_12
6               BRA  2017            10.412991          MH_12
8               PAN  2019             0.423550          MH_12
11              QAT  2015             1.377553          MH_12
...             ...   ...                  ...            ...
5189            RUS  2019            36.895085          MH_12
5190            DOM  2019            10.210646          MH_12
5192            PAN  2020             0.695169          MH_12
5194            EST  2019             4.560812          MH_12
5196            AZE  2019             2.848851          MH_12

     country_name_matched country_name_y  GDP_per_capita  School_enrollment  \
4                Portugal       Portugal    11526.372067         108.372887
5               Australia      Australia    50084.444061         155.594391
6                  Brazil         Brazil    10080.507872         103.015961
8                   Japan          Japan    40415.956765         102.670067
11                  Qatar          Qatar    68985.243338         101.946831
...                   ...            ...             ...                ...
5189              Belarus        Belarus     6837.773396         100.438744
5190             Dominica       Dominica     9491.149960         105.625543
5192                Japan          Japan    40028.734173         102.844803
5194              Estonia        Estonia    24021.250141         112.287201
5196           Azerbaijan     Azerbaijan     4805.753718         107.863961

      Unemployment
4         3.806000
5         5.711000
6        12.792000
8         2.351000
11        0.170000
...            ...
5189      4.165000
5190      7.757838
5192      2.809000
5194      4.514000
5196      5.000000

[1371 rows x 9 columns]

In [ ]:
# Data Cleaning / Improvement

In [21]:
# Fill missing values
for col in ["GDP_per_capita", "School_enrollment", "Unemployment"]:
    final_df[col] = final_df[col].fillna(final_df[col].mean())
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500000
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630000
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334000
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389000
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806000
...,...,...,...,...,...,...,...,...,...
4283,UKR,2020,4.956610,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475000
4507,ITA,2021,7.147312,MH_12,Italy,Italy,36852.542541,101.834869,9.497000
4565,ARM,2014,2.742046,MH_12,Armenia,Armenia,3852.118006,86.520401,17.498000
4581,SLE,2015,6.454470,MH_12,Isle of Man,Isle of Man,84753.518742,79.720263,7.757838
4730,AFR,2008,5.416420,MH_12,Central African Republic,Central African Republic,437.248275,79.720263,5.510000

In [18]:
# Deduplicate rows:
final_df = final_df.drop_duplicates(subset=["country_name_y", "year"])
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500000
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630000
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334000
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389000
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806000
...,...,...,...,...,...,...,...,...,...
4283,UKR,2020,4.956610,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475000
4507,ITA,2021,7.147312,MH_12,Italy,Italy,36852.542541,101.834869,9.497000
4565,ARM,2014,2.742046,MH_12,Armenia,Armenia,3852.118006,86.520401,17.498000
4581,SLE,2015,6.454470,MH_12,Isle of Man,Isle of Man,84753.518742,79.720263,7.757838
4730,AFR,2008,5.416420,MH_12,Central African Republic,Central African Republic,437.248275,79.720263,5.510000

In [19]:
# Fix inconsistent names
final_df = final_df[final_df["country_name_matched"].notna()]
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500000
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630000
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334000
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389000
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806000
...,...,...,...,...,...,...,...,...,...
4283,UKR,2020,4.956610,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475000
4507,ITA,2021,7.147312,MH_12,Italy,Italy,36852.542541,101.834869,9.497000
4565,ARM,2014,2.742046,MH_12,Armenia,Armenia,3852.118006,86.520401,17.498000
4581,SLE,2015,6.454470,MH_12,Isle of Man,Isle of Man,84753.518742,79.720263,7.757838
4730,AFR,2008,5.416420,MH_12,Central African Republic,Central African Republic,437.248275,79.720263,5.510000

In [20]:
# remove outliers
final_df = final_df[final_df["mental_health_value"] >= 0]
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500000
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630000
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334000
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389000
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806000
...,...,...,...,...,...,...,...,...,...
4283,UKR,2020,4.956610,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475000
4507,ITA,2021,7.147312,MH_12,Italy,Italy,36852.542541,101.834869,9.497000
4565,ARM,2014,2.742046,MH_12,Armenia,Armenia,3852.118006,86.520401,17.498000
4581,SLE,2015,6.454470,MH_12,Isle of Man,Isle of Man,84753.518742,79.720263,7.757838
4730,AFR,2008,5.416420,MH_12,Central African Republic,Central African Republic,437.248275,79.720263,5.510000

In [9]:
final_df

,country_name_x,year,mental_health_value,indicator_code,country_name_matched,country_name_y,GDP_per_capita,School_enrollment,Unemployment
0,JOR,2010,1.670238,MH_12,Jordan,Jordan,3718.465716,87.364441,12.500000
1,SYR,2001,1.809799,MH_12,Syrian Arab Republic,Syrian Arab Republic,1186.829135,44.838951,11.630000
2,TUN,2011,1.596429,MH_12,Tunisia,Tunisia,4420.647722,89.341469,18.334000
3,AGO,2017,20.410024,MH_12,Trinidad and Tobago,Trinidad and Tobago,17566.099970,79.720263,3.389000
4,UGA,2000,24.813049,MH_12,Portugal,Portugal,11526.372067,108.372887,3.806000
...,...,...,...,...,...,...,...,...,...
4283,UKR,2020,4.956610,MH_12,Ukraine,Ukraine,3709.769287,84.428334,9.475000
4507,ITA,2021,7.147312,MH_12,Italy,Italy,36852.542541,101.834869,9.497000
4565,ARM,2014,2.742046,MH_12,Armenia,Armenia,3852.118006,86.520401,17.498000
4581,SLE,2015,6.454470,MH_12,Isle of Man,Isle of Man,84753.518742,79.720263,7.757838
4730,AFR,2008,5.416420,MH_12,Central African Republic,Central African Republic,437.248275,79.720263,5.510000